/* dark mod */
/* body {
  background-color: #0b0c10;
} */
.title_wrap {
  width: 100%;
}
.common_title {
display: block;
position:relative;
width: 1040px;
height: 60px;
margin: 50px auto;

}

.inner_title {
position: relative;
text-align: center;
display: block;
width: 520px;
height: 60px;
font-size: 36px;
line-height: 60px;
margin: 0 auto;
text-align: center;
}

.title_text {
display: block;
width: 330px;
height: 60px;
font-size: 36px;
line-height: 60px;
margin: 0 auto;
color: #2d2d2d;
}

.title_left,
.title_right {
position: absolute;
top: 25px;
}

.title_left {
background-image: url(../images/ico_tit_arrow_left.jpg);
left: 50px;
width:44px;
height:13px;
}

.title_right {
right: 50px;
background-image: url(../images/ico_tit_arrow_right.jpg);
width:44px;
height:13px;
}


.location {
display: flex;
position: absolute;
top: 0px;
right: 0px;
width: 190px;
height: 60px;
}

.location li {
margin: 20px auto;
height: 20px;
line-height: 20px;
font-size: 16px;
color:#666666;
}

.common_title li:nth-of-type(2)::before {
width: 20px;
height: 18px;
font-size: 16px;
content: ">";
position:absolute;
top: 19px;
left: 30px;
} 

.common_title li p {
font-weight: bold;
} 

.board_tab {
  margin: 50px auto;
  display: flex;
  width: 1040px;
  justify-content: center;
}

.board_tab li {
  display: block;
  width: 240px;
  height: 50px;
  line-height: 50px;
  border: 1px #796150 solid;
  text-align: center;
  margin: 0px 5px;
}
.board_tab li a {
  display: block;
}
.board_tab_off {
  background-color: #fff;
  color: #796150;
  font-weight: lighter;
}
.board_tab_on {
  background-color:#796150;
  color:#fff;
  font-weight: bold;
}
caption {
  display: none;
}

.notice_modify_board {
  display: block;
  width: 900px;
  margin: 0 auto;
  border-top: 1px #9a9a9a solid;
  border-bottom: 1px #9a9a9a solid;
}

.notice_modify_board th {
  width: 150px;
  border-bottom: 1px #e2e2e2 solid;
  background-color: #faf9f5;
  color: #2d2d2d;
  font-size: 16px;
  font-weight: bold;
}

.notice_cate_wrap th {
  height: 60px;
}


.notice_title_wrap th {
  height: 60px;
}

.notice_content_wrap th {
  height: 250px;
}

.notice_file_wrap th {
  height: 60px;
}

.notice_cate_wrap td,
.notice_title_wrap td,
.notice_content_wrap td {
  border-bottom: 1px #e2e2e2 solid;
}
.notice_title_wrap td,
.notice_content_wrap td,
.notice_file_wrap td {
  width: 750px;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
}
.notice_title_wrap td,
.notice_content_wrap td {
  padding-left: 20px;
}

.notice_cate_wrap td,
.notice_file_wrap td {
  display: flex;
  padding: 10px 10px 10px 20px;
}

.notice_cate_wrap td {
  justify-content: left;
}

/* 인풋 박스 포커스 */
#n_title:focus,#n_content:focus,
.notice_option_bar:focus {
outline: none;
border: 1px solid #e2e2e2;
z-index:3;
}

/* 인풋 박스 */


.cate_news_btn,
.cate_notice_btn {
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: 1px #e2e2e2 solid;
  color: #999999;
  border-radius: 2px;
  margin: 0 5px;
  cursor:pointer;
  font-weight: 400;
}


.cate_news_btn span,
.cate_notice_btn span {
  display: block;
  text-align: center;
}



#n_title {
  display: block;
  margin: 5px 0px;
  width: 650px;
  height: 50px;
  border: 1px solid #f0f0f0;  
  border-radius: 4px;
  color: #444;
  font-weight: 400;
  font-size: 16px;
  position: relative;
}


#n_content {
  display: block;
  width: 650px;
  height: 240px;
  font-size: 16px;
  border: 1px solid #f0f0f0;  
  border-radius: 4px;
}

#up_file {
  opacity: 0;
}

#up_file_btn {
  display: block;
  background-color: #fff;
  color: #999;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 5px 0px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 5;
}




.cate_news_btn:hover,
.cate_notice_btn:hover,
#up_file_btn:hover {
  color:#fff;
  background-color: #796150;
  transition:all 0.3s;
}

.cate_news_btn:active,
.cate_notice_btn:active,
#up_file_btn:active {
  scale: 90%;
  transition:all 0.3s;
}

#up_file_btn i {
  display: block;
}

#up_file_btn span {
  display: block;
}

.fa-check {
  display: none;
}

.file_wrap {
  display: flex;
  width: 545px;
  height: 40px;
  line-height: 40px;
  margin: 5px 5px;
  position:relative;
  background-color: #faf9f5;
  border: 1px solid #e2e2e2;
}

.file_name {
  width: 505px;
  padding-left: 20px;
  border-radius: 2px;
  color: #666666;
  overflow: hidden;  		
  text-overflow: ellipsis;  	
  white-space: nowrap; 
}

#file_del {
  display: block;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  margin: 5px;
  cursor:pointer;
  position:absolute;
  top: 0px;
  right: 5px;
}

#file_del::after {
  display: none;
  border: 1px solid #fff;
  border-width: 0 2px 2px 0;
  width: 15%;
  height: 40%;
  position: relative;
  content: '';
  top: 20%;
  left: 40%;
  transform: rotate(45deg);
}

#file_del:checked {
  background-color:#ad9582;
}
#file_del:checked::after {
  display: block;
}

.notice_list {
  display: flex;
  width: 900px;
  margin: 50px auto;
  justify-content: center;
}
.notice_list_btn {
  appearance: none;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  display: block;
  margin: 0 10px;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
}

.btn_prev {
  color: #999;
  background-color: #fff;
}
.btn_submit {
  background-color: #796150;
  color: #fff;
}

.btn_prev:hover {
  background-color: #796150;
  color: #fff;
  transition:all 0.3s;
}