.title_wrap {
    width: 100%;
  }
  
    
  
  .common_title {
    display: block;
    position:relative;
    width: 1040px;
    height: 60px;
    margin: 50px auto;
  }
  
  .inner_title {
    position: relative;
    text-align: center;
    display: block;
    width: 520px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
  }
  
  .title_text {
    display: block;
    width: 200px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    margin: 0 auto;
    color: #2d2d2d;
  }
  
  .title_left,
  .title_right {
    position: absolute;
    top: 25px;
  }
  
  .title_left {
    background-image: url(../IMAGES/ico_tit_arrow_left.jpg);
    left: 120px;
    width:44px;
    height:13px;
  }
  
  .title_right {
    right: 120px;
    background-image: url(../IMAGES/ico_tit_arrow_right.jpg);
    width:44px;
    height:13px;
  }
  
  
  .location {
    display: flex;
    position: absolute;
    top: 0px;
    right: 30px;
    width: 140px;
    height: 60px;
  }
  
  .location li {
    margin: 20px auto;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color:#666666;
  }
  
  .common_title li:nth-of-type(2)::before {
    width: 20px;
    height: 18px;
    font-size: 16px;
    content: ">";
    position:absolute;
    top: 19px;
    left: 35px;
  } 
  
  .common_title li p {
    font-weight: bold;
  } 


  .content {
    width: 100%;
    height: 520px;
  }

  .inner_page_wrap,
  .mypage_info {
    width: 1040px;
    height: 530px;
    margin: 0 auto;
    text-align: center;
  }

  h5 {
    display: block;
    font-size: 28px;
    color: #7b6251;
    font-weight: 600;
  }
  .mypage_intro>span {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
  }
  .mypage_link {
    margin: 40px auto 0px;
    width: 1040px;
    height: 360px;
    display:flex;
    justify-content: center;
  }

/* 520-350=170 */

.private_info,
.my_qna {
    width: 350px;
    height: 360px;
    border: 2px solid red;
}

.mypage_link i {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-image: url(../IMAGES/bg_cscenter_intro_off.png);
    position:relative;
}

.mypage_link i::before {
    display: block;
    content:"";
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    top: 30px;
    left: 30px;
}

.my_qna a p {
  display: block;
  content:"";
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid red;
}



.mypage_icon::before {
    background-image: url(../images/ico_mypage_info.png);
}

.qna_icon::before {
    background-image: url(../images/ico_cscenter_qna_list.png);
}



.my_qna a p {
  background-image: url(../images/bg_cscenter_intro_on.png);
}

.qna_icon::after {
  background-image: url(../images/bg_cscenter_intro_on.png);
}



.mypage_link a>strong {
    display: block;
    width: 360px;
    height: 25px;
    color:#2d2d2d;
    font-size: 23px;
    text-align: center;
    margin: 20px auto;

}

.mypage_link a>span {
    display: block;
    width: 360px;
    height: 36px;
    line-height: 18px;
    color:#666666;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.mypage_link span>em {
    display: block;
    height: 18px;
}

.link_btn {
    display: block;
    width: 100px;
    height: 45px;
    line-height: 42px;
    margin: 0 auto;
    border: 1px #9a9a9a solid;
    font-size: 18px;
    text-align: center;
    color: #666;
    background-color: #fff;
}
