.title_wrap {
    width: 100%;
  }
.common_title {
  display: block;
  position:relative;
  width: 1040px;
  height: 60px;
  margin: 50px auto;
}

.inner_title {
  position: relative;
  text-align: center;
  display: block;
  width: 520px;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
}

.title_text {
  display: block;
  width: 200px;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  margin: 0 auto;
  color: #2d2d2d;
}

.title_left,
.title_right {
  position: absolute;
  top: 25px;
}

.title_left {
  background-image: url(../images/ico_tit_arrow_left.jpg);
  left: 120px;
  width:44px;
  height:13px;
}

.title_right {
  right: 120px;
  background-image: url(../images/ico_tit_arrow_right.jpg);
  width:44px;
  height:13px;
}


.location {
  display: flex;
  position: absolute;
  top: 0px;
  right: 30px;
  width: 140px;
  height: 60px;
}

.location li {
  margin: 20px auto;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color:#666666;
}

.common_title li:nth-of-type(2)::before {
  width: 20px;
  height: 18px;
  font-size: 16px;
  content: ">";
  position:absolute;
  top: 19px;
  left: 35px;
} 

.common_title li p {
  font-weight: bold;
} 


#content {
  margin: 0 auto;
}

.page_wrap {
  padding: 0px 20px 50px;
}

.mypage_intro {
  width: 1040px;
  margin: 0 auto;
  text-align: center;
}

h5 {
  display: block;
  font-size: 28px;
  color: #7b6251;
  font-weight: 600;
  text-align: center;
}
h5 span {
  display: block;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
}

.mypage_link {
  display: flex;
  width: 1040px;
  height: 360px;
  justify-content: center;
  margin-top: 50px;
}


.inf,
.qnl {
    width: 345px;
    height: 350px;
}

.mypage_link li a {
  position: relative;
  display: block;
}

.mypage_link li a>i {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.inf_back_off,
.qnl_back_off {
  background-image: url(../images/bg_cscenter_intro_off.png);
}

.inf_back_on,
.qnl_back_on {
  background-image: url(../images/bg_cscenter_intro_on.png);
  position: absolute;
  top: 0px;
  left: 80px;
  scale: 1.5;
}

.back_hidden {
  visibility: hidden;
  opacity:0;
  scale:calc(200%);
}

.back_view {
  visibility: visible;
  opacity:1;
  scale:calc(100%);
  transition: all 0.6s;
}

.icon_off {
  display: block;
  width: 120px;
  height: 120px;
  position:relative;
}

.icon_off::before {
  content: "";
  width: 120px;
  height: 120px;
  position:absolute;
  background-repeat: no-repeat;
  background-size:cover;
}
.inf_icon::before {
  top: 25px;
  left: 25px;
}
.qnl_icon::before {
  top: 20px;
  left: 30px;
}

.icon_on {
  display: block;
  width: 120px;
  height: 120px;
  position:relative;
}

.icon_on::before {
  display: block;
  content: "";
  width: 2px;
  height: 48px;
  color: red;
  position:absolute;
  top: 55%;
  left: 75%;
  background-color: #fff;
}


.icon_on::after {
  display: block;
  content: "";
  width: 48px;
  height: 2px;
  color: red;
  position:absolute;
  background-color: #fff;
  top: 75%;
  left: 55%;
}

.inf_icon::before {
  background-image: url(../images/ico_mypage_info.png);
}
.qnl_icon::before {
  background-image: url(../images/ico_cscenter_qna_list.png);
}

.mypage_link a strong {
  display: block;
  width: 345px;
  height: 20px;
  font-size: 1.5em;
  color: #2d2d2d;
  text-align: center;
  margin: 20px 0px;
  font-weight: 800;
}

.mypage_link a span {
  display: block;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.mypage_link em {
  display: block;
}

.mypage_link span>em {
  display: block;
}

.mypage_link a>em {
  margin: 0 auto;
  width: 105px;
  height: 45px;
  line-height: 45px;
  font-size: 1.15em;
}

.link_off {
  border: 1px #9a9a9a solid;
  background-color: #fff;
  color: #666666;
  border-radius: 2px;
}
.link_on {
  border: 1px #9a9a9a solid;
  background-color: #7b6251;
  color: #fff;
  transition: all 0.6s;
  border-radius: 2px;
}

