.on_view {
  display:block;
  z-index: 5;
}
.off_view {
  display: none;
  z-index: 1;
}

.clear_txt {
  color: #39cab7;
}
.err_txt {
  color: #f00;
}
.n_border {
  border: 1px solid #f0f0f0;  
  border-radius: 4px;
}

.n_border:focus {
  border: 1px solid #e2e2e2;
}

  
  
.err_border {
  border: 1px solid #f00;
  border-radius: 4px;
}
.err_border:focus {
  border: 1px solid #f00;
}


main {
  padding-bottom: 60px;
}


.title_wrap {
  width: 100%;
}

.join_wrap {
  margin: 0 auto;
  width: 100%;

  background-color: white;
  border-radius: 8px;
  }
  

.common_title {
  display: block;
  position:relative;
  width: 1040px;
  height: 60px;
  margin: 50px auto;
}

.inner_title {
  position: relative;
  text-align: center;
  display: block;
  width: 520px;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
}

.title_text {
  display: block;
  width: 250px;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  margin: 0 auto;
  color: #2d2d2d;
}
  
  .title_left,
  .title_right {
    position: absolute;
    top: 25px;
  }
  
.title_left {
  background-image: url(../images/ico_tit_arrow_left.jpg);
  left: 100px;
  width:44px;
  height:13px;
}

.title_right {
  right: 100px;
  background-image: url(../images/ico_tit_arrow_right.jpg);
  width:44px;
  height:13px;
}


.location {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 140px;
  height: 60px;
}

.location li {
  margin: 20px auto;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color:#666666;
}

.location li:nth-of-type(2)::before {
  width: 20px;
  height: 18px;
  font-size: 16px;
  content: ">";
  position:absolute;
  top: 19px;
  left: 28px;
} 

.location li p {
  font-weight: bold;
} 

.board_tab {
  margin: 50px auto;
  display: flex;
  width: 1040px;
  justify-content: center;
}

.board_tab li {
  display: block;
  width: 240px;
  height: 50px;
  line-height: 50px;
  border: 1px #796150 solid;
  text-align: center;
  margin: 0px 5px;
}
.board_tab li a {
  display: block;
}
.board_tab_off {
  background-color: #fff;
  color: #796150;
  font-weight: lighter;
}
.board_tab_on {
  background-color:#796150;
  color:#fff;
  font-weight: 400;
}

caption {
  display: none;
}

.pwd_change_board {
  display: block;
  width: 1040px;
  margin: 0 auto;
  border-top: 1px #9a9a9a solid;
  border-bottom: 1px #9a9a9a solid;
}

.pwd_change_board th {
  width: 210px;
  height: 60px;
  border-bottom: 1px #e2e2e2 solid;
  background-color: #faf9f5;
  color: #2d2d2d;
  font-size: 16px;
  font-weight: bold;
}

.pwd_wrap td {
  width: 830px;
  height: 60px;
  border-bottom: 1px #e2e2e2 solid;
  padding-left: 20px;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
}
  
  input::placeholder {
    padding-left: 20px;
    color:#666666;
  }
  
  /* 인풋 박스 크기 */
  #now_pwd,#pwd,#re_pwd{
    display: block;
    margin: 5px 0px;
    width: 520px;
    height: 50px;
    color: #444;
    font-weight: 400;
    font-size: 16px;
  }


  /* 인풋 박스 포커스 */
  #now_pwd:focus,#pwd:focus,#re_pwd:focus {
  outline: none;
  z-index:3;
}



  /* 알림 공간 */
#now_pwd_text_wrap,
#pwd_text_wrap,
#re_pwd_text_wrap {
  display: block;
  width: 520px;
  line-height: 24px;
  margin: 5px 0px;
  font-size: 16px;
}



.form_btn_wrap {
  display: flex;
  width: 1040px;
  height: 60px;
  margin: 50px auto 30px;
  justify-content: center;
}




#now_pwd_eye_on,
#now_pwd_eye_off,
#pwd_eye_on,
#pwd_eye_off,
#re_pwd_eye_on,
#re_pwd_eye_off {
  width: 40px;
  height: 40px;
  appearance: none;
  border-radius: 4px;
  color: #cacaca;
  background: none;
  border: none;
  font-size: 23px;
  position: absolute;
  cursor: pointer;
  bottom: 4px;
  right: 4px;
  border: none;
}

.now_pwd_bt_wrap,
.pwd_bt_wrap,.re_pwd_bt_wrap {
  position:relative;
  width: 520px;
  margin: 0;
}

#d_now_pwd,#d_pwd,#d_re_pwd {
  width: 26px;
  height: 26px;
  appearance: none;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  color: white;
  background-color: #e2e2e2;
  font-size: 14px;
  position: absolute;
  cursor: pointer;
  top: 13px;
  right: 53px;
}







.cancel_btn,
.edit_btn {
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.cancel_btn {
  background-color: #cdbbac;
}
.edit_btn {
  background-color: #796150;
}

#pwd_val {
  display: none;
}