
/* 드롭다운 애니 */

/* 드롭다운 0.8 */
.drop_down_off {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  
  .drop_down_on {
    opacity: 1;
    transform: translateZ(0);
    transition:all 1.2s;
  }

