
/* 드롭다운 애니 */

.drop_down_off {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  
  .drop_down_on {
    opacity: 1;
    transform: translateZ(0);
    transition-duration:  1.2s;
  }


/* 좌우 이동 애니 */


.left_move_off {
    opacity: 0;
    transform: translate(-80px,0px);
} 

.left_move_on {
    opacity: 1;
    transform: translateZ(0);
    transition-delay: 1.2s;
    transition-duration:  1.2s;
  }


.right_move_off {
    opacity: 0;
    transform: translate(80px,0px);
} 

.right_move_on {
    opacity: 1;
    transform: translateZ(0);
    transition-delay: 2.4s;
    transition-duration:  1.2s;
}


/* 캐릭터 낙하 */

.anime_off {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  scale: 150%;
}

.anime_on {
  opacity: 1;
  transform: translateZ(0);
  transition:all 0.8s;
  scale: 100%;
}


/* Y축 회전 */

.rtty_off_00,
.rtty_off_01,
.rtty_off_02,
.rtty_off_03,
.rtty_off_04,
.rtty_off_05 {
  opacity: 0;
  transform: translate(0px, -40px) scaleY(-1);
}

.rtty_on_00,
.rtty_on_01,
.rtty_on_02,
.rtty_on_03,
.rtty_on_04,
.rtty_on_05 {
  opacity: 1;
  transition-timing-function: ease;
  transform: translate(0px, 0px);
  transition-duration:  0.3s;
}

.rtty_on_01 {
  transition-delay: 0.3s;
}

.rtty_on_02 {
  transition-delay: 0.6s;
}

.rtty_on_03 {
  transition-delay: 0.9s;
}

.rtty_on_04 {
  transition-delay: 1.2s;
}

.rtty_on_05 {
  transition-delay: 1.5s;
}

/* 글자 낙하 */

.welcome_down_off_00 {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.welcome_down_on_00 {
  opacity: 1;
  transform: translateZ(0);
  transition-duration:  0.8s;
  transition-delay: 1.2s;
}

.welcome_down_off_01 {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.welcome_down_on_01 {
  opacity: 1;
  transform: translateZ(0);
  transition-delay: 2.0s;
  transition-duration:  0.8s;
}

.welcome_down_off_02 {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.welcome_down_on_02 {
  opacity: 1;
  transform: translateZ(0);
  transition-delay: 2.8s;
  transition-duration:  0.8s;
}


.btn_left_off {
  opacity: 0;
  transform: translate(-80px,0px);
} 

.btn_left_on {
  opacity: 1;
  transform: translateZ(0);
  transition-delay: 3.6s;
  transition-duration:  0.8s;
}