/*
  컬러코드

시그니처 1 베이지 베이지배경
#ebe2d3

메인 폰트컬러 (라이트 그레이),박스 쉐도우
#797979

갈색 테두리
#7b6454

갈색 폰트 1
#84664d

갈색 폰트 2 (메뉴 텍스트)
#402c10

연갈색 배경
#ad9582


회색 테두리
#f0f0f0

메뉴바 폰트색
#666666


베이지 테두리
#f4eae2

*/

/* 폰트어썸 */

/* 돋보기 */
/* <i class="fa-solid fa-magnifying-glass"></i> */

/* 엑스 x */
/* <i class="fa-solid fa-x"></i> */

/* ---------------------------------------- */


/* 공용 태그 */


/* ---------------------------------------- */

body,h1,h2,h3,h4,h5,p,div,ul,li,dl,dt,dd{
  margin: 0;
  padding: 0;
}
h1,h4,h5,dt,strong,body,i,em,p,div,ul,li,dl,dt,dd {
font-family: 'Noto Sans KR',sans-serif;
}
h2,h3 {
  font-family: 'Hahmlet', serif;
}
ul,li{
  list-style:none
}
a{
  text-decoration:none;
  color: inherit;
}
address,em {
  font-style:normal
}

* {
box-sizing: border-box;

}

ul {
list-style: none;
padding-left:0px;
}

button {
  appearance: none;
}

.head_top {
  display: block;
  width:100%;
  height: 150px;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  top:0px;
  left: 0px;
}

.head_inner {
  display:flex;
  justify-content: space-between;
  width: 1100px;
  height: 50px;
  margin: 0 auto;
  color: #797979;
}

.language_wrap {
  width: 180px;
  display:flex;
}
.language_wrap img {
  display: block;
  width: 20px;
  height: 20px;
  margin: 15px auto 15px;
}

.language_wrap select {
  width: 140px;
  height: 48px;
  color: #000;
  border: none;
  font-size: 16px;
  font-weight: 100;
}

.seach_wrap {
  width: 530px;
  height: 50px;
  position:relative;
}
.seach_wrap button {
  width: 50px;
  height: 50px;
  position:absolute;
  left: 0px;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: none;
  border-top: none;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  color:#797979;

}
.seach_wrap input {
  width: 480px;
  height: 48px;
  position:absolute;
  top: 1px;
  right: 0px;
  border: none;
}
.seach_wrap input::placeholder {
  font-size: 16px;
  color:#797979;
}
.head_menu {
  display:flex;
  line-height: 50px;
}
.head_menu a {
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s;
}
.head_menu a:hover {
  color: #000;
}
.head_menu li:nth-of-type(1)::after {
  content: "|";
  padding: 0 20px;
}
.head_menu li:nth-of-type(3)::before {
  content: "|";
  padding: 0 20px;
}




.GNB {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  top:0;
  left:0
}
.gnb_box {
  display:flex;
  width: 1040px;
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  

}

#logo {
  width: 120px;
}

#logo a {
  text-indent: -9999px;
  color: white;
  display: block;
  height: 70px;
  width: 90px;
  background-image: url(../IMG/logo.jpg);
  background-size: 77px 66px;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.gnb_list {
  width: 700px;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  font-weight: 600;
  color:#666666;
}

.gnb_list a {
  position: relative;
}
.gnb_list a:before {
  content: '';
  position: absolute;
  background-color: #796150;
  height: 3px;
  width: 0px;
  bottom: -33px;
  transition: 0.4s;
  left: 50%;
  transform: translateX(-50%);
}
.gnb_list a:hover:before {
  width: 100%;
}


.gnb_sns {
  width: 220px;
  height: 100px;
}

.sns_list {
  width: 180px;
  display: flex;
  margin: 30px 0px 30px 40px;
  justify-content: space-between;
  overflow: hidden;
}


.gnb_sns a,
.main_sns_icon a {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #7b6454;
  color: #7b6454;
  border-radius: 50%;
  position:relative;
}

/* SNS 아이콘 */

.gnb_sns .fa-brands {
  display: block;
  position:absolute;
  
}
.gnb_sns .fa-instagram {
  font-size: 19px;
  top: 9px;
  left: 10px;
}
.gnb_sns .instagram {
  animation: fadeinicon 0.5s ease-in-out;
}
.gnb_sns .fa-facebook {
  font-size: 20px;
  top: 8px;
  left: 8px;
}
.gnb_sns .facebook {
  animation: fadeinicon 1.0s ease-in-out;
}
.gnb_sns .fa-youtube {
  font-size: 20px;
  top: 9px;
  left: 7px;
}
.gnb_sns .youtube {
  animation: fadeinicon 0.5s ease-in-out;
}
.gnb_sns .fa-tiktok {
  font-size: 20px;
  top: 9px;
  left: 10px;
}
.gnb_sns .tiktok {
  animation: fadeinicon 1.0s ease-in-out;
}

/* 네비게이션바 메뉴  */
.GNB_menu {
  display: none;
  width: 100%;
  height: 250px;
  box-shadow: 0 8px 8px -2px #79797970;
  z-index: 10;
  position:absolute;
  background-color:#fff;
}
.gnb_menu_wrap {
  display: flex;
  width: 1280px;
  height: 250px;
  margin: 0 auto;
  overflow:hidden;
  
}
.gnb_model {
  height: 250px;
  width: 210px;
}
.gnb_model img {
  display: block;
  height: 230px;
  width: 190px;
  margin: 20px 20px 0px 0px;
}

.gnb_menu_list {
  height: 250px;
  width: 860px;
  margin: 0 auto;
  display: flex;
}

.gnb_menu_list ul {
  font-size: 16px;
  text-align: left;
  font-weight: 300;
  color: rgb(68, 68, 68);
  
}

.gnb_menu_list ul li {
  margin-top: 15px;
  overflow:hidden;
}

.gnb_menu_list a {
  animation: fadeintext 1s;
  position: relative;
}

.gnb_menu_list a:before {
  content: '';
  position: absolute;
  background-color: #796150;
  height: 2px;
  width: 0px;
  bottom: 0px;
  transition: 0.4s;
  left: 50%;
  transform: translateX(-50%);
}
.gnb_menu_list a:hover:before {
  width: 100%;
}

.gnb_brand {
  width: 100px;
  margin-left: 30px;

}
.gnb_product {
  width: 80px;
  margin-left: 20px;
}
.gnb_event {
  width: 70px;
  margin-left: 26px;
}

.gnb_board {
  width: 100px;
  margin-left: 50px;
}

.gnb_store {
  width: 100px;
  margin-left: 20px;
}
.gnb_franchisee {
  margin-left: 36px;
  width: 160px;
}

.gnb_model {
  position: relative;
  animation: fadeinimg 1s;
}

.gnb_right {
  width: 210px;
}

.clear_txt {
  color: #39cab7;
}
.err_txt {
  color: #f00;
}

.n_border {
  border: 1px solid #f0f0f0;  
  border-radius: 4px;
}

.n_border:focus {
  border: 1px solid #e2e2e2;
}



.err_border {
  border: 1px solid #f00;
  border-radius: 4px;
}
.err_border:focus {
  border: 1px solid #f00;
}


.join_wrap {
  margin: 0 auto;
  text-align: left;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  z-index: 10;
  overflow: hidden;
  
  }
  

  .title_wrap {
    width: 100%;
  }
  
  .common_title {
    display: block;
    position:relative;
    width: 1040px;
    height: 60px;
    margin: 50px auto;
  }
  
  .inner_title {
    position: relative;
    text-align: center;
    display: block;
    width: 520px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
  }
  
  .title_text {
    display: block;
    width: 270px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    margin: 0 auto;
    color: #2d2d2d;
  }
  
  .title_left,
  .title_right {
    position: absolute;
    top: 25px;
  }
  
  .title_left {
    background-image: url(../IMAGES/ico_tit_arrow_left.jpg);
    left: 140px;
    width:44px;
    height:13px;
  }
  
  .title_right {
    right: 140px;
    background-image: url(../IMAGES/ico_tit_arrow_right.jpg);
    width:44px;
    height:13px;
  }
  
  
  .common_title ul {
    display: flex;
    position: absolute;
    top: 0px;
    right: 30px;
    width: 120px;
    height: 60px;
  }
  
  .common_title ul li {
    margin: 20px auto;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color:#666666;
  }

  .common_title li:nth-of-type(2)::before,
  .common_title li:nth-of-type(3)::before {
    content: ">";
    position:absolute;
    top: 19px;
  }
  
  .common_title li:nth-of-type(2)::before {
    left: 40px;
  } 

  .common_title li:nth-of-type(2) p {
    font-weight: bold;
  } 



.login_wrap {
  display: flex;
  width: 1040px;
  height: 560px;
  margin: 0 auto;
}

.login_inner {
  padding: 0px;
  display: block;
  width: 460px;
  height: 560px;
  margin-right: 30px;
  border: none; 
  position:relative;

}

.login_inner label {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}

.login_inner strong {
  width: 25px;
  height: 14px;
}

legend {
  display: none;
}

.id_line,.pwd_line {
  display: block;
  position:relative;
  border-bottom: 1px solid #666;
  width: 460px;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
}

#u_id,#pwd {
  display: block;
  position: absolute;
  width: 418px;
  height: 40px;
  border: none;
  right: 0px;
  bottom: 2px;
}
#u_id::placeholder,
#pwd::placeholder {
  padding-left: 10px;
  font-size: 14px;
}

.login_banner {
  width: 520px;
  height: 560px;
  margin-left: 30px;
  overflow: hidden;
}

.login_banner img {
  display: block;
  width: 510px;
  height: 560px;
  margin: 0;
  padding: 0;
}

.phone_check {
  display: block;
  width: 460px;
  height: 50px;
  margin-top: 20px;
}
.info_txt,
.info_txt i {
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
  color: #666;
}

.captacha {
  display: block;
  width: 460px;
  height: 120px;
  margin-top: 70px;
  position: relative;
  border: none;
}

.g-recaptcha {
  position: absolute;
  top: 15px;
  left: 0px;
}

#id_save_wrap {
  position:absolute;
  bottom: 100px;

}

.id_save_inner {
  display: block;
  width: 460px;
  height: 60px;
  position:relative;
}


#id_save {
  display:block;
  width: 26px;
  height: 26px;
  border: 1px solid #e2e2e2;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
  position:absolute;
  top: 12px;
  left: 10px;
}
#id_save::after {
  display: block;
  border: 1px solid #fff;
  border-width: 0 2px 2px 0;
  width: 15%;
  height: 40%;
  position: relative;
  content: '';
  top: 20%;
  left: 40%;
  transform: rotate(45deg);
  
}
#id_save:checked {
  background-color:#ad9582;
}
#id_save:checked::after {
  display: block;
}

#id_save_wrap span {
  display: block;
  width: 75px;
  height: 30px;
  font-size: 16px;
  position: absolute;
  color: #666666;
  top: 12px;
  left: 50px;
}



.login_btn_wrap {
  position:absolute;
  bottom: 0px;
  width: 460px;
  height: 60px;
  background-color: #796150;
}

.login_btn {
  border: none;
  appearance: none;
  width: 440px;
  height: 60px;
  background-color: #796150;
  color:#fff;
  font-size: 1.6em;
}





#footer {
  width: 100%;
  height: 220px;
  font-size: 16px;
  color:#666666;
  padding-bottom: 60px;
  margin-top: 80px;
}

.footer_inner {
  width: 100%;
  height: 180px;
  margin: 0 auto;
}


.footer_top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #f4eae2;
  
}

.footer_top ul {
  margin: 0 auto;
  width: 1040px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer_top li {
  padding: 0px 15px;
  font-weight: bold;
}

.footer_top li:nth-of-type(4) {
  color: #000;
}

.footer_bottom {
  width: 1040px;
  height: 85px;
  font-weight: 100;
  position: relative;
  margin: 15px auto 0px;
}

.footer_bottom ul {
  width: 1040px;
  padding-left: 15px;
}
.footer_bottom li {
  margin-bottom: 5px;
  height:18px;

}

.footer_bottom span::before {
  content: "|";
  margin: 0 3px;
  color: #000;
}

.footer_bottom img {
  display: block;
  width: 75px;
  height: 65px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
