.on_view {
  display:block;
  z-index: 5;
}
.off_view {
  display: none;
  z-index: 1;
}

  .clear_txt {
      color: #39cab7;
    }
  .err_txt {
    color: #f00;
  }
  
  .n_border {
    border: 1px solid #f0f0f0;  
    border-radius: 4px;
  }
  
  .n_border:focus {
    border: 1px solid #e2e2e2;
  }
  
  
  
  .err_border {
    border: 1px solid #f00;
    border-radius: 4px;
  }
  .err_border:focus {
    border: 1px solid #f00;
  }
  
  
  main {
    padding-bottom: 60px;
  }
  
  
  .title_wrap {
    width: 100%;
  }
  
  .join_wrap {
    margin: 0 auto;
    width: 100%;
  
    background-color: white;
    border-radius: 8px;
    }
    
  
  .common_title {
    display: block;
    position:relative;
    width: 1040px;
    height: 60px;
    margin: 50px auto;
  }
  
  .inner_title {
    position: relative;
    text-align: center;
    display: block;
    width: 520px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
  }
  
  .title_text {
    display: block;
    width: 250px;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    margin: 0 auto;
    color: #2d2d2d;
  }
  
  .title_left,
  .title_right {
    position: absolute;
    top: 25px;
  }
  
  .title_left {
    background-image: url(../images/ico_tit_arrow_left.jpg);
    left: 100px;
    width:44px;
    height:13px;
  }
  
  .title_right {
    right: 100px;
    background-image: url(../images/ico_tit_arrow_right.jpg);
    width:44px;
    height:13px;
  }
  
  
  .location {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 140px;
    height: 60px;
  }
  
  .location li {
    margin: 20px auto;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color:#666666;
  }
  
  .location li:nth-of-type(2)::before {
    width: 20px;
    height: 18px;
    font-size: 16px;
    content: ">";
    position:absolute;
    top: 19px;
    left: 28px;
  } 
  
  .location li p {
    font-weight: bold;
  } 
  
  .board_tab {
    margin: 50px auto;
    display: flex;
    width: 1040px;
    justify-content: center;
  }

  .board_tab li {
    display: block;
    width: 240px;
    height: 50px;
    line-height: 50px;
    border: 1px #796150 solid;
    text-align: center;
    margin: 0px 5px;
  }
  .board_tab li a {
    display: block;
  }
  .board_tab_off {
    background-color: #fff;
    color: #796150;
    font-weight: lighter;
  }
  .board_tab_on {
    background-color:#796150;
    color:#fff;
    font-weight: bold;
  }

  h5 {
    width: 1040px;
    height: 30px;
    line-height: 30px;
    margin: 50px auto 20px;
    text-align: left;
    font-size: 20px;
    padding: 0;
  }
  caption {
    display: none;
  }

  .user_info_board,
  .user_check_board {
    display: block;
    width: 1040px;
    margin: 0 auto;
    border-top: 1px #9a9a9a solid;
    border-bottom: 1px #9a9a9a solid;
  }

  .user_info_board th {
    width: 210px;
    height: 60px;
    border-bottom: 1px #e2e2e2 solid;
    background-color: #faf9f5;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: bold;
  }

  .user_name_wrap td,.user_id_wrap td,
  .user_pwd_wrap td,.user_birth_wrap td,
  .user_mobile_wrap td,.user_email_wrap td {
    width: 830px;
    border-bottom: 1px #e2e2e2 solid;
    padding-left: 20px;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
  }

  .now_mobile,
  .now_email,
  .now_addr3 {
    display: block;
    width: 520px;
    height: 50px;
    margin: 5px 0px;
    color: #444;
    font-weight: 400;
    font-size: 16px;
    position: relative;

  }

  .user_postal_wrap td {
    width: 830px;
    height: 230px;
    border-bottom: 1px #e2e2e2 solid;
    padding-left: 20px;
    color: #666666;
    font-weight: 400;
    font-size: 16px;
  }

  .postal_bt_wrap {
    position:relative;
    width: 520px;
    height: 220px;
  }

  .mobile_cg_wrap,.email_cg_wrap {
    position:relative;
    width: 520px;
    margin: 5px 0px;
}

  #postal_btn,.user_pwd_wrap a,
  .mobile_cg_btn,
  .email_cg_btn,
  .addr3_cg_btn {
    display: block;
    width: 100px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    color:#999;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
  } 

  #postal_btn,
  .mobile_cg_btn,
  .email_cg_btn,
  .addr3_cg_btn {
    position: absolute;
    cursor:pointer;
    z-index: 6;
  }

  #postal_btn,
  .mobile_cg_btn,
  .email_cg_btn {
    top: 2px;
    right: 2px;
  }
  .addr3_cg_btn {
    bottom: 7px;
    right: 2px;
  }

  #postal_btn:hover,.user_pwd_wrap a:hover,
  .mobile_cg_btn:hover,
  .email_cg_btn:hover,
  .addr3_cg_btn:hover {
    color:#fff;
    background-color: #ad9582;
    transition:all 0.3s;
  }

  .now_email,.now_mobile,.now_addr3,
  #ps_code,#addr1,#addr2 {
    background-color: #f0f0f0;
  }

  
  input::placeholder {
    padding-left: 20px;
    color:#666666;
  }
  
  /* 인풋 박스 크기 */
  #pwd,#mobile,
  #email_id,#birth,#ps_code,
  #addr1,#addr2,#addr3 {
    display: block;
    margin: 5px 0px;
    width: 520px;
    height: 50px;
    color: #444;
    font-weight: 400;
    font-size: 16px;
    position: relative;
  }

/* 인풋 박스 포커스 */
.now_email,.now_mobile,.now_addr3,
#mobile:focus,#email_id:focus,
#ps_code:focus,#addr1:focus,#addr2:focus,
#addr3:focus {
  outline: none;
  border: 1px solid #e2e2e2;
  z-index:3;
}


  /* 알림 공간 */
#pwd_text_wrap,#mobile_text_wrap,
#email_text_wrap,.addr_text_wrap {
  display: block;
  width: 520px;
  line-height: 24px;
  margin: 5px 0px;
  font-size: 16px;
}


#d_mobile,#d_email,#d_addr3 {
  width: 26px;
  height: 26px;
  appearance: none;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  color: white;
  background-color: #e2e2e2;
  font-size: 14px;
  position: absolute;
  cursor: pointer;
}


#d_mobile,#d_email {
  top: 12px;
  right: 120px;
}

#d_addr3 {
  bottom: 12px;
  right: 120px;
}



.user_check_board th {
  width: 210px;
  height: 110px;
  border-bottom: 1px #e2e2e2 solid;
  background-color: #faf9f5;
  color: #2d2d2d;
  font-size: 16px;
  font-weight: bold;
}

.user_apply_wrap td {
  width: 830px;
  height: 110px;
  border-bottom: 1px #e2e2e2 solid;
  padding-left: 20px;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  position: relative;
}
.user_apply_wrap td>div {
  display: block;
  width: 530px;
  height: 32px;
  position: absolute;
  top: 60px;
}
.user_apply_wrap td>p {
  display: block;
  width: 530px;
  position: absolute;
  top: 30px;
}


#apply_marketing  {
  position: absolute;
  top: 0px;
  left: 0px;
}

.marketing_text {
  display: block;
  width: 400px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: 40px;
  font-size: 13px;
  /* border: 2px solid red; */
  line-height: 26px;
  color: #666666;
}

.marketing_text button {
  appearance: none;
  border: none;
  text-decoration: underline;
  background-color: white;
  font-size: 13px;
  color: #666666;
  cursor: pointer;
}

#apply_marketing {
  display:block;
  width: 25px;
  height: 25px;
  border: 1px solid #e2e2e2;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
}

#apply_marketing::after {
  display: none;
  border: 1px solid #e2e2e2;
  border-width: 0 2px 2px 0;
  width: 15%;
  height: 40%;
  position: relative;
  content: '';
  top: 20%;
  left: 40%;
  transform: rotate(45deg);
}

#apply_marketing:checked {
  background-color:#ad9582;
}

#apply_marketing:checked::after {
  display: block;
}


.form_btn_wrap {
  display: flex;
  width: 1040px;
  height: 60px;
  margin: 50px auto 30px;
  justify-content: center;
}

.cancel_btn,
.edit_btn {
  width: 200px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 5px;
  border: none;
  cursor:pointer;
}

.cancel_btn {
  background-color: #cdbbac;
}
.edit_btn {
  background-color: #796150;
}