
body {
    transition: all 0.6s;
}

/* 일반 PC : width 1000px 이상 */
@media screen and (min-width: 1000px) {
    body {
        color: #fff;
        font-size: 50px;
        background: pink;
    }
} 

/* 태블릿 PC : width 1000px 미만 640px 이상 */
@media screen and (min-width: 640px) and (max-width: 999px) {
    body {
        color: #fff;
        font-size: 30px;
        background: yellowgreen;
    }
} 


/* 모바일 : width 640px 미만 */
@media screen and (max-width: 639px) {
    body {
        color: #fff;
        font-size: 14px;
        background: skyblue;
    }
} 

/* 매끄럽게 만들려면 구간을 3개보다 많이 5개정도 만드는 방법도 있음 */

/* @media print {
    인쇄시 워크마크
} */
